<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CookLog 관리자 페이지 - 게시판</title>
    <link rel="stylesheet" th:href="@{/css/manager/board.css}"/>
</head>
<body>
<div id="board-management-page" class="container">
    <div class="header">
        <a th:href="@{/manager/main}">
            <img th:src="@{/img/main/CookLog.png}" alt="Log" class="logo-img">
        </a>
        <h2>게시글 관리</h2>
    </div>
    <div class="search-container">
        <div class="selectBox">
            <select name="dropdown" class="select board-search-select">
                <option value="content">글 내용</option>
                <option value="writer">작성자</option>
            </select>
        <input type="search" class="search-box board-search-box" placeholder="검색어를 입력해주세요.">
    </div>
    <table class="content-table">
        <thead>
        <tr>
            <th>게시글 번호</th>
            <th>내용</th>
            <th>작성자</th>
            <th>작성일</th>
            <th>관리</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="board : ${boards}">
            <td th:text="${board.id}"></td>
            <td th:text="${board.content}"></td>
            <td th:text="${board.userNickname}"></td>
            <td th:text="${#temporals.format(board.createdAt, 'yyyy-MM-dd HH:mm:ss')}"></td>
            <td><button class="delete-btn" th:attr="data-id=${board.id}">삭제</button></td>
        </tr>
        </tbody>
    </table>
        <div id="commentsContainer"></div>
        <ul id="board-pagination"></ul>
</div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            document.querySelectorAll('.delete-btn').forEach(button => {
                button.addEventListener('click', function() {
                    const boardId = this.getAttribute('data-id');
                    if (confirm('정말 삭제하시겠습니까?')) {
                        fetch('/manager/board/delete/' + boardId, {
                            method: 'DELETE',
                        }).then(response => {
                            if (response.ok) {
                                alert('게시글이 삭제되었습니다.');
                                window.location.reload(); // 페이지 새로고침
                            } else {
                                alert('게시글 삭제에 실패했습니다.');
                            }
                        }).catch(error => console.error('Error:', error));
                    }
                });
            });
        });
    </script>
</div>
</body>
<script th:src="@{/js/manager/search-manager.js}"></script>
</html>
