<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CookLog 관리자 페이지</title>
    <link rel="stylesheet" th:href="@{/css/manager/manager.css}"/>
</head>
<body>
<header>
    <img th:src="@{/img/main/CookLog.png}" alt="Log" class="logo-img">
    <div class="user-info">
            <span class="username" th:text="${user.nickname}"></span>
            <a th:href="@{/logout}" class="logout-button">로그아웃</a>
    </div>
    </div>
</header>
    <div class="button-group">
        <a href="/manager/user" class="button">전체 유저 관리</a>
        <a href="/manager/board" class="button">게시글 관리</a>
        <a href="/manager/comment" class="button">댓글 관리</a>
        <a href="/manager/report" class="button">신고 관리</a>
    </div>
</body>
</html>