<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CookLog 관리자 페이지 - 신고 유저 관리</title>
    <link rel="stylesheet" th:href="@{/css/manager/board.css}"/>
    <link rel="stylesheet" th:href="@{/css/manager/pagination.css}"/>
</head>
<body>
<div id="report-management-page" class="container">
    <div class="header">
        <a th:href="@{/manager/main}">
            <img th:src="@{/img/main/CookLog.png}" alt="Log" class="logo-img">
        </a>
        <h2>신고 유저 관리</h2>
    </div>
    <div class="search-container">
        <form th:action="@{/manager/reports/search}" method="get">
            <div class="selectBox">
                <input type="search" name="nickname" class="search-box report-search-box" placeholder="조회할 닉네임을 입력하세요.">
            </div>
        </form>
        <table class="content-table">
            <thead>
            <tr>
                <th>신고된 유저</th>
                <th>신고된 횟수</th>
                <th>블랙 여부</th>
                <th>블랙 관리</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="info : ${reportedInfo}">
                <td><a th:href="@{/manager/userPosts/{userId}(userId=${info.userId})}"
                       th:text="${info.userNickname}"></a></td>
                <td th:text="${info.reportCount}"></td>
                <td th:text="${info.blacklisted ? '블랙 리스트' : '일반 유저'}"></td>
                <td>
                    <button class="btn-blacklist"
                            th:attr="data-userid=${info.userId}, data-blacklisted=${info.blacklisted}"
                            th:text="${info.blacklisted ? '해제' : '등록'}">
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        <div th:if="${totalPages != null}" class="pagination-container">
            <ul id="report-pagination">
                <li th:if="${currentPage > 1}">
                    <a th:href="@{/manager/reports/search(nickname=${nickname}, page=${currentPage - 1})}">이전</a>
                </li>
                <li th:each="pageNum : ${#numbers.sequence(1, totalPages)}">
                    <a th:href="@{/manager/reports/search(nickname=${nickname}, page=${pageNum -1})}"
                       th:text="${pageNum}">[[${pageNum}]]</a>
                </li>
                <li th:if="${currentPage < totalPages}">
                    <a th:href="@{/manager/reports/search(nickname=${nickname}, page=${currentPage + 1})}">다음</a>
                </li>
            </ul>
        </div>
    </div>
</div>
    <script th:src="@{/js/manager/search-manager.js}"></script>
</body>
</html>
