<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CookLog 관리자 페이지 - 신고 유저 관리</title>
    <link rel="stylesheet" th:href="@{/css/manager/board.css}"/>
</head>
<body>
<div class="container">
    <div class="header">
        <a th:href="@{/manager/main}">
            <img th:src="@{/img/main/CookLog.png}" alt="Log" class="logo-img">
        </a>
        <h2>신고 유저 관리</h2>
    </div>
    <div class="search-container">
        <div class="selectBox">
            <input type="search" class="search-box" placeholder="조회할 닉네임을 입력하세요.">
        </div>
        <table class="content-table">
            <thead>
            <tr>
                <th>신고된 유저</th>
                <th>신고된 횟수</th>
                <th>블랙 여부</th>
                <th>블랙 관리</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="info : ${reportedInfo}">
                <td><a th:href="@{/manager/userPosts/{userId}(userId=${info.userId})}" th:text="${info.getUserNickname()}"></a></td>
                <td th:text="${info.getReportCount()}"></td>
                <td th:text="${info.isBlacklisted() ?'블랙 회원' : '일반 유저'}"></td>
                <td>
                    <button class="block-btn" th:data-id="${info.userId}" onclick="addToBlacklist(this.getAttribute('data-id'))">등록</button>
                    <button class="block-btn" th:data-id="${info.userId}" onclick="removeFromBlacklist(this.getAttribute('data-id'))">해제</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
<script>
    function addToBlacklist(userId) {
        fetch('/manager/blacklist/add/' + userId, { method: 'POST' })
            .then(response => {
                if (response.ok) {
                    alert('블랙리스트에 추가되었습니다.');
                    window.location.reload();
                }
            })
            .catch(error => console.error('Error:', error));
    }

    function removeFromBlacklist(userId) {
        fetch('/manager/blacklist/remove/' + userId, { method: 'POST' })
            .then(response => {
                if (response.ok) {
                    alert('블랙리스트가 해제되었습니다.');
                    window.location.reload();
                }
            })
            .catch(error => console.error('Error:', error));
    }
</script>
</html>