<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CookLog 관리자 페이지 - 등급 관리</title>
    <link rel="stylesheet" th:href="@{/css/manager/role-manager.css}"/>
</head>
<body>
<header>
    <a th:href="@{/manager/main}">
        <img th:src="@{/img/main/CookLog.png}" alt="Logo" class="logo-img">
    </a>
    <h2>유저 등급 관리</h2>
</header>
<div class="container">
    <div class="search-container">
        <form th:action="@{/manager/role-manager/update}" th:object="${user}" method="post">
            <table class="content-table">
                <thead>
                <tr>
                    <th>번호</th>
                    <th>닉네임</th>
                    <th>등급</th>
                    <th>관리</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td th:text="${user.idx}"></td>
                    <input type="hidden" name="userIdx" th:value="${user.idx}" />
                    <td th:text="${user.nickname}"></td>
                    <td>
                        <select th:field="*{role}">
                            <option value="USER" th:selected="${role == '미식 초보'}">미식 초보</option>
                            <option value="USER2" th:selected="${role == '요리 연습생'}">요리 연습생</option>
                            <option value="USER3" th:selected="${role == '요리 전문가'}">요리 전문가</option>
                            <option value="ADMIN" th:selected="${role == '관리자'}">관리자</option>
                            <option value="BLACK" th:selected="${role == '블랙 리스트'}">블랙 리스트</option>
                        </select>
                    </td>
                    <td>
                        <button type="submit">변경 저장</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
<script>
    document.querySelector('form').addEventListener('submit', function(e) {
        e.preventDefault(); // 폼의 기본 제출 막기

        // 폼 데이터 수집
        var formData = new FormData(this);

        // AJAX 요청 설정
        fetch('/manager/role-manager/update', {
            method: 'POST',
            body: formData
        }).then(response => {
            if(response.ok) {
                window.opener.location.reload(); // 부모 창 새로고침
                window.close(); // 현재 창 닫기
            } else {
                alert('업데이트 실패');
            }
        }).catch(error => console.error('Error:', error));
    });
</script>
</body>
</html>
