body, html {
    height: 100%;
    font-family: Arial, sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding-top: 10%;
}
.header{
    display: flex;
    align-items: baseline;
    font-size: 30px;
    justify-content: space-between;
}
header img{
    width:240px
}

.header h2 {
    margin-bottom: 3%;
}

.search-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.select {
    width: 113px;
    height: 49px;
    padding: 5px 15px 5px 4px;
    border-radius: 9px;
}
.search-box {
    border: 1px solid #ccc;
    border-radius: 16px;
    padding: 17px;
    width: 230px;
}

.content-table {
    width: 100%;
    margin-top: 20px;
    text-align-last: center;
}
.content-table a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.content-table thead {
    background-color: #FFA500;
    color: white;
}

.content-table th,
.content-table td {
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid #ddd;
}
.update-btn, .update-btn a, .block-btn, .block-btn a, .btn-blacklist{
    padding: 5px 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.update-btn:hover .block-btn:hover, .btn-blacklist:hover {
    background-color: darkred;
}
.comment-delete-btn, .board-delete-btn {
    padding: 5px 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.comment-delete-btn:hover, .board-delete-btn:hover {
    background-color: darkred;
}
#pagination {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
    margin-top: 20px;
}

#pagination button {
    border: none;
    padding: 8px 16px;
    margin: 0 4px;
    border-radius: 20px; /* 동그란 버튼 */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    background-color: #007bff;
    color: white;
}

#pagination button:hover:not([disabled]),
#pagination button:active:not([disabled]) {
    background-color: #005bff; /* 버튼 호버 시 색상 */
    color: white;
}

#pagination button[disabled] {
    cursor: default;
    opacity: 0.7;
}