<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cooklog</title>
    <link rel="stylesheet" href="../../static/css/main/style.css" th:href="@{/css/main/style.css}"/>
    <link rel="stylesheet" href="../../static/css/board/board.css" th:href="@{/css/board/board.css}"/>
</head>
<body>
<div th:replace="~{layout/header.html::main-header}"></div>

<!-- 포스트#1 -->
<nav>
    <ul class="menu">
        <li class="menu-item">
            <a class="write-button" th:href="@{/board/write}">+</a>
        </li>
        <div class="menu-item dropdown">
            <select class="dropbtn" id="order-select">
                <option value="latest">최신순</option>
                <option value="views">조회순</option>
                <option value="famous">좋아요순</option>
                <option value="follow">팔로우만 조회</option>
            </select>
        </div>
    </ul>
</nav>
<main>
    <div th:replace="~{layout/boardPreview.html::board-preview}"></div>

    <div th:if="${boards.isEmpty()}" class="no-content-container">
        <p class="no-content-text">콘텐츠가 없습니다.</p>
    </div>
</main>

<script th:unless="${boards.isEmpty()}" th:inline="javascript">
    let totalPage = [[${boards.totalPages}]];
    let lastBoardId = [[${boards.content[0].id}]];
</script>
<script th:if="${boards.isEmpty()}" th:inline="javascript">
    let totalPage = 0;
    let lastBoardId = 0;
</script>
<script src="../../static/js/board/board.js" th:src="@{/js/board/board.js}"></script>
<script src="../../static/js/main/infinityScroll.js" th:src="@{/js/main/infinityScroll.js}"></script>
<script src="../../static/js/main/sortByType.js" th:src="@{/js/main/sortByType.js}"></script>
<script src="../../static/js/main/search.js" th:src="@{/js/main/search.js}"></script>
<script src="../../static/js/board/like.js" th:src="@{/js/board/like.js}"></script>
<script src="../../static/js/board/bookMark.js" th:src="@{/js/board/bookMark.js}"></script>
<script src="../../static/js/board/report.js" th:src="@{/js/board/report.js}"></script>
</body>
</html>