<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cooklog</title>
    <link rel="stylesheet" href="../../static/css/main/style.css" th:href="@{/css/main/style.css}"/>
    <link rel="stylesheet" href="../../static/css/board/board.css" th:href="@{/css/board/board.css}"/>
</head>
<body>
<div th:replace="~{layout/header.html::main-header}"></div>
<main>
    <div class="search-info">
        <strong class="search-keyword" th:text="${keyword}"></strong>
        <p> (으)로 검색한 결과입니다.</p>
    </div>
    <div th:replace="~{layout/boardPreview.html::board-preview}"></div>

    <div th:if="${boards.isEmpty()}" class="no-content-container">
        <p class="no-content-text">콘텐츠가 없습니다.</p>
    </div>
</main>

<script th:unless="${boards.isEmpty()}" th:inline="javascript">
    let totalPage = [[${boards.totalPages}]];
    let lastBoardId = [[${boards.content[0].id}]];
</script>
<script th:if="${boards.isEmpty()}" th:inline="javascript">
    let totalPage = 0;
    let lastBoardId = 0;
</script>

<script src="../../static/js/board/board.js" th:src="@{/js/board/board.js}"></script>
<script src="../../static/js/main/infinityScroll.js" th:src="@{/js/main/infinityScroll.js}"></script>
<script src="../../static/js/main/search.js" th:src="@{/js/main/search.js}"></script>
<script src="../../static/js/board/like.js" th:src="@{/js/board/like.js}"></script>
<script src="../../static/js/board/commentReport.js" th:src="@{/js/board/commentReport.js}"></script>
</body>
</html>