<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>팔로워</title>
  <link rel="stylesheet" href="../../static/css/main/style.css" th:href="@{/css/main/style.css}"/>
  <link rel="stylesheet" href="../../static/css/myPage/followerPage.css" th:href="@{/css/myPage/followerPage.css}"/>
</head>
<div th:replace="~{layout/header.html::main-header}"></div>
<body>
<main>
  <ul class="follower-list">
    <li class="follower-info" th:each="following: ${followings}">
      <figure class="profile-picture" aria-label="프로필">
        <img src="../../static/img/main/food1.png" th:src="${following.followingUserProfileImage}" alt="프로필 사진">
      </figure>
      <p class="user-name" >
        <a th:href="@{/myPage/main/{id}(id=${following.followingId})}"  th:text="${following.followingUserNickName}"></a>
      </p>
      <button th:unless="${currentLoginUser.idx eq following.followingId}" th:class="${following.isFollowing() == false ? 'follow-button' : 'un-follow-button'}"
              onclick="clickButton(event)"
              th:data-userid="${following.followingId}"
              th:data-currentid="${currentLoginUser.idx}"
              th:text="${following.isFollowing() == false ? '팔로우' : '언팔로우'}">
      </button>
    </li>
  </ul>
      <nav class="page">
        <ul class="pagination" th:unless="${followings.isEmpty()}">
          <!-- 이전 페이지 버튼 -->
          <li class="page-item" th:classappend="${followings.pageable.pageNumber == 0} ? 'disabled' : ''">
            <a class="page-link" th:href="@{/user/{targetUserIdx}/following(page=${followings.pageable.pageNumber - 1},targetUserIdx=${targetUserIdx})}" >«</a>
          </li>
          <!-- 페이지 번호 -->
          <li th:each="pageNum: ${#numbers.sequence(startPage+1, endPage+1)}" class="page-item" th:classappend="${pageNum - 1 == followings.pageable.pageNumber} ? 'active' : ''">
            <a class="page-link" th:href="@{/user/{targetUserIdx}/following(page=${pageNum - 1}, size=${followings.pageable.pageSize},targetUserIdx=${targetUserIdx})}" th:text="${pageNum}"></a>
          </li>
          <!-- 다음 페이지 버튼 -->
          <li class="page-item" th:classappend="${followings.pageable.pageNumber + 1 >= followings.totalPages} ? 'disabled' : ''">
            <a class="page-link" th:href="@{/user/{targetUserIdx}/following(page=${followings.pageable.pageNumber + 1},targetUserIdx=${targetUserIdx})}">»</a>
          </li>
        </ul>
      </nav>
</main>
<script src="../../static/js/myPage/followDetail.js" th:src="@{/js/myPage/followDetail.js}"></script>
<script src="../../static/js/main/search.js" th:src="@{/js/main/search.js}"></script>
</body>
</html>