<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MyPage</title>
    <link rel="stylesheet" href="../../static/css/main/style.css" th:href="@{/css/main/style.css}"/>
    <link rel="stylesheet" href="../../static/css/myPage/myPage.css" th:href="@{/css/myPage/myPage.css}"/>
    <link rel="stylesheet" href="../../static/css/main/ratingStyle.css" th:href="@{/css/main/ratingStyle.css}"/>
</head>
<body>
<div th:replace="~{layout/header.html::main-header}"></div>
<main>
    <section class="user-profile-container">
        <div class="user-info-container">
            <figure class="profile-image" aria-label="프로필">
                <img th:src="${user.profileImageUrl}" alt="프로필 사진">
            </figure>
            <div class="user-info-wrapper">
                <div class="user-nickname-and-badge">
                    <p class="user-nickname user-name" th:value="${user.idx}"
                       th:classappend="${'user-role-' + user.role}" th:text="${user.nickname}">example_user</p>
                    <span th:if="${user.role.toString().equals('USER')}">미식 초보</span>
                    <span th:if="${user.role.toString().equals('USER2')}">요리 연습생</span>
                    <span th:if="${user.role.toString().equals('USER3')}">요리 전문가</span>
                    <span th:if="${user.role.toString().equals('BLACK')}">블랙 리스트</span>
                    <span th:if="${user.role.toString().equals('ADMIN')}">관리자</span>
                </div>
                <p class="user-badge" th:classappend="${'user-role-' + user.role}">
                <div class="profile-stats">
                    <div class="board-count-container">
                        <span class="count-name">게시물</span>
                        <span th:text="${boards.size()}"></span>
                    </div>
                    <div class="follower-count">
                        <a class="count-name"
                           th:href="@{/user/{targetUserIdx}/follower(targetUserIdx=${user.idx})}">팔로워</a>
                        <span th:text="${followCount.getFollowerCount()}" class="follower-number">10</span>
                    </div>
                    <div class="following-count">
                        <a class="count-name" th:href="@{/user/{targetUserIdx}/following(targetUserIdx=${user.idx})}">팔로잉</a>
                        <span th:text="${followCount.getFollowingCount()}">10</span>
                    </div>
                </div>
                <div class="follow-button-container">
                    <!--만약 팔로우된 사람이면 언팔로우로 표시, 팔로우 안된 사람이면 팔로우로 표시-->
                    <th:block th:unless="${currentLoginUser.idx}==${user.idx}">
                        <button th:class="${followCount.isFollow == 0 ? 'follow-button' : 'un-follow-button'}"
                                onclick="clickButton(event)"
                                th:data-userid="${user.idx}"
                                th:data-currentid="${currentLoginUser.idx}"
                                th:text="${followCount.isFollow == 0 ? '팔로우' : '언팔로우'}">
                        </button>
                    </th:block>
                </div>
            </div>
            <button class="more-options" th:if="${currentLoginUser.idx}==${user.idx}">⋮</button>
            <div class="options-menu" th:if="${currentLoginUser.idx}==${user.idx}">
                <ul>
                    <li>
                        <button class="update-board-button" onclick="clickEditProfileButton()">프로필 수정</button>
                    </li>
                    <li>
                        <button class="logout-button" onclick="clickLogoutButton()">로그아웃</button>
                    </li>
                    <li>
                        <button class="user-quit-button" onclick="clickUserQuitButton()">회원 탈퇴</button>
                    </li>
                </ul>
            </div>
        </div>
        <pre class="profile-introduction" th:text="${user.introduction}">반갑습니다. 오늘도 즐거운 하루입니다.</pre>
    </section>

    <div class="tabs">
        <button class="tab-button active" onclick="switchTab('Posts')">게시물</button>
        <button th:if="${currentLoginUser.idx} == ${user.idx}" class="tab-button"
                onclick="switchTab('Bookmarks'); loadMyBookmarks()">북마크
        </button>
    </div>

    <section class="board-list-container">
        <ul class="board-list">
            <li th:each="board: ${boards}">
                <img th:value="${board.id}" th:src="${board.imageUrl}" href="게시물 미리보기 이미지" class="image-item"
                     onclick="clickBoardImage(this)">
            </li>
        </ul>
        <div th:if="${boards.isEmpty()}" class="no-content-container">
            <p class="no-content-text">콘텐츠가 없습니다.</p>
        </div>
    </section>

    <section id="bookmarkContainer" class="board-list-container" style="display:none;">
        <ul id="bookmarkList" class="board-list">
        </ul>
        <div id="noContentContainer" class="no-content-container">
            <p class="no-content-text">콘텐츠가 없습니다.</p>
        </div>
    </section>
</main>
<script src="../../static/js/myPage/myPage.js" th:src="@{/js/myPage/myPage.js}"></script>
<script src="../../static/js/main/search.js" th:src="@{/js/main/search.js}"></script>
</body>
</html>