<article th:fragment="board-preview" class="board-container" th:unless="${boards.isEmpty()}"
         th:each="board, boardIndex: ${boards}">
    <hr>
    <input class="board-id" type="hidden" th:value="${board.id}" />
    <header>
        <div class="user-info">
            <figure class="profile-picture" aria-label="프로필">
                <img th:src="${board.profileImageUrl}" alt="프로필 사진">
            </figure>
            <span th:if="${board.userIsDelete}" class="username" th:value="${board.userId}">탈퇴한 사용자입니다.</span>
            <a th:unless="${board.userIsDelete}" class="username" th:text="${board.userNickname}" th:value="${board.userId}" th:href="'/myPage/main/' + ${board.userId}"></a>
        </div>
        <button class="more-options">⋮</button>
        <div class="options-menu">
            <ul>
                <li th:unless="${currentLoginUser.idx} eq ${board.userId}">
                    <button class="report-button" th:attr="data-board-id=${board.id}" onclick="bindMainReportEvent(this)">신고</button>
                </li>
                <li>
                    <button class="go-to-board-button" onclick="clickGoToBoard(this)">게시물로 이동</button>
                </li>
                <li th:if="${currentLoginUser.idx} eq ${board.userId}">
                    <button class="update-board-button" onclick="clickUpdateBoard(this)">수정</button>
                </li>
                <li th:if="${currentLoginUser.idx} eq ${board.userId}">
                    <button class="delete-board-button" onclick="clickDeleteBoard(this)">삭제</button>
                </li>
            </ul>
        </div>
    </header>
    <section class="image-container">
        <button th:if="${board.imageUrls.size()}>1" class="prev-btn"
        th:onclick="'prevSlide(' + ${board.id} + ', this)'">&#10094;</button>
        <div class="slider-container">
            <ul class="image-list">
                <li th:each="image: ${board.imageUrls}">
                    <img class="image-item" src="../../static/img/main/food1.png"
                         th:src="${image}" alt="user 요리 사진"/>
                </li>
            </ul>
        </div>
        <button th:if="${board.imageUrls.size()}>1" class="next-btn"
        th:onclick="'nextSlide(' + ${board.id} + ', this)'">&#10095;</button>
    </section>

    <pre class="content" th:text="${board.content}"></pre>

    <article class="content-bottom-container">
        <aside class="like-and-bookmark-section">
            <div class="like-container">
                <button th:class="${board.isLike()} ? 'redheart' : 'emptyheart'" onclick="clickLikeBtn(this)" th:value = "${board.id}">
                </button>
                <span class="like-count" th:text="${board.likeCount}"></span>
            </div>
            <div class="bookmark-container">
                <button th:class="${board.isMarked()} ? 'yellowbookmark' : 'emptybookmark'" onclick="clickBookmarkBtn(this)" th:value = "${board.id}">
                </button>
            </div>
        </aside>
        <th:block th:if="${!board.tags.isEmpty()}">
            <div class="hash-tag-container">
                <div class="hash-tag-list">
                    <a th:href="'/hashtag_search?keyword='+${tag}" class="hash-tag-button" th:each="tag: ${board.tags}" th:text="${tag}"></a>
                </div>
            </div>
        </th:block>
    </article>
    <article class="comment-container" th:if="${comments[__${boardIndex.index}__]!=null}">
        <section class="user-comment">
            <div>
                <a class="comment-writer-name" th:text="${comments[__${boardIndex.index}__].userName}"
                th:value="${comments[__${boardIndex.index}__].userId}"></a>
                <p class="comment-content" th:text="${comments[__${boardIndex.index}__].content}"></p>
            </div>
            <time class="comment-created-at"
            th:text="${#temporals.format(comments[__${boardIndex.index}__].createdAt,'yyyy-MM-dd')}"></time>
        </section>
        <nav>
            <a th:href="@{'/board/' + ${board.id}}">
                <button class="view-comments"
                th:text="'댓글 '+${comments[__${boardIndex.index}__].contentCount}+'개 모두 보기'"></button>
            </a>
        </nav>
    </article>
    <article class="comment-container" th:unless="${comments[__${boardIndex.index}__]!=null}">
        <a th:href="@{'/board/' + ${board.id}}">
            <button class="view-comments">댓글 쓰러 가기</button>
        </a>
    </article>
</article>
