<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>수정글 페이지</title>
    <link rel="stylesheet" href="../../static/css/main/style.css" th:href="@{/css/main/style.css}"/>
    <link rel="stylesheet" href="../../static/css/board/boardForm.css" th:href="@{/css/board/boardForm.css}"/>
</head>
<body>
<div th:replace="~{layout/header.html::main-header}"></div>
<main>
    <input class="board-id" type="hidden" th:value="${board.id}"/>
    <form class="board-form" action="" onsubmit="return false" th:object="${board}">
        <section class="hash-tag-container">
            <textarea class="hash-tag-input" rows="1" placeholder="해쉬태그를 입력해주세요! 최대 10개까지 가능합니다."></textarea>
            <div class="hash-tag-list">
                <th:block th:each="tag: ${board.tags}">
                    <button class="hash-tag-button" th:text="${tag}"></button>
                </th:block>
            </div>
        </section>
        <section class="image-container">
            <button class="prev-btn" onclick="prevSlide()">&#10094;</button>
            <div class="slider-container">
                <ul class="image-list">
                    <li class="image-item">
                        <div class="image-upload-button" onclick="openFileUploader()">+</div>
                        <p class="image-rule-text">사진을 업로드 해주세요!<br>최대 10개까지 업로드 가능합니다.</p>
                    </li>
                    <li class="image-preview" th:each="image, imageIndex:${board.imageUrls}">
                        <button class="image-delete-button">x</button>
                        <img class="image-item" th:src="${image}" th:value="${board.getImageNames[__${imageIndex.index}__]}" alt="첨부된 이미지">
                        <span class="image-index" th:text="${imageIndex.index+1}"></span>
                    </li>
                </ul>
            </div>
            <button class="next-btn" onclick="nextSlide()">&#10095;</button>
        </section>
        <section class="content-container">
            <textarea class="content-input" placeholder="내용을 입력해주세요!" th:field="*{content}"
                      onchange="wordCount(this);"
                      oninput="wordCount(this);"></textarea>
            <div class="text-count">0/500</div>
        </section>
        <section class="button-container">
            <button class="cancel-button">취소</button>
            <button class="edit-button">수정</button>
        </section>
    </form>
</main>
<script src="../../static/js/board/imageForm.js" th:src="@{/js/board/imageForm.js}"></script>
<script src="../../static/js/board/wordCount.js" th:src="@{/js/board/wordCount.js}"></script>
<script src="../../static/js/board/hashTag.js" th:src="@{/js/board/hashTag.js}"></script>
<script src="../../static/js/board/form.js" th:src="@{/js/board/form.js}"></script>
</body>
</html>