<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Board</title>
    <link rel="stylesheet" th:href="@{/css/main/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/board/board.css}"/>
    <link rel="stylesheet" th:href="@{/css/board/commentForm.css}"/>
</head>
<body>
<div th:replace="~{layout/header.html::main-header}"></div>
<main>
    <article class="board-container">
        <input class="board-id" type="hidden" th:value="${board.id}"/>
        <header>
            <div class="user-info">
                <figure class="profile-picture" aria-label="프로필">
                    <img th:src="${board.profileImageUrl}" alt="프로필 사진">
                </figure>
                <span th:if="${board.userIsDelete}" class="username" th:value="${board.userId}">탈퇴한 사용자입니다.</span>
                <a th:unless="${board.userIsDelete}" class="username" th:text="${board.userNickname}" th:value="${board.userId}" th:href="'/myPage/main/' + ${board.userId}"></a>
            </div>
            <button class="more-options">⋮</button>
            <div class="options-menu">
                <ul>
                    <li th:unless="${currentLoginUser.idx} eq ${board.userId}">
                        <button class="report-button" th:attr="data-board-id=${board.id}">신고</button>
                    </li>
                    <li th:if="${currentLoginUser.idx} eq ${board.userId}">
                        <button class="update-board-button" onclick="clickUpdateBoard(this)">수정</button>
                    </li>
                    <li th:if="${currentLoginUser.idx} eq ${board.userId}">
                        <button class="delete-board-button" onclick="clickDeleteBoard(this)">삭제</button>
                    </li>
                </ul>
            </div>
        </header>
        <section class="content-info">
            <p class="content-createdAt" th:text="${#temporals.format(board.createdAt,'yyyy-MM-dd HH:mm')}"></p>
            <p class="content-read-count" th:text="'조회수: '+${board.readCount}"></p>
        </section>
        <section class="image-container">
            <button th:if="${board.imageUrls.size()}>1" class="prev-btn"
                    th:onclick="'prevSlide(' + ${board.id} + ', this)'">&#10094;</button>
            <div class="slider-container">
                <ul class="image-list">
                    <li th:each="image: ${board.imageUrls}">
                        <img class="image-item" src="/img/main/food1.png"
                             th:src="${image}" alt="user 요리 사진"/>
                    </li>
                </ul>
            </div>
            <button th:if="${board.imageUrls.size()}>1" class="next-btn"
                    th:onclick="'nextSlide(' + ${board.id} + ', this)'">&#10095;</button>
        </section>

        <pre class="content" th:text="${board.content}"></pre>

        <article class="content-bottom-container">
            <aside class="like-and-bookmark-section">
                <div class="like-container">
                    <button th:class="${board.isLike()} ? 'redheart' : 'emptyheart'" onclick="clickLikeBtn(this)" th:value = "${board.id}">
                    </button>
                    <span class="like-count" th:text="${board.likeCount}"></span>
                </div>
                <div class="bookmark-container">
                    <button th:class="${board.isMarked()} ? 'yellowbookmark' : 'emptybookmark'" onclick="clickBookmarkBtn(this)" th:value = "${board.id}">
                    </button>
                </div>
            </aside>
            <div class="hash-tag-container">
                <div class="hash-tag-list">
                    <a th:href="'/hashtag_search?keyword='+${tag}" class="hash-tag-button" th:each="tag: ${board.tags}" th:text="${tag}"></a>
                </div>
            </div>
        </article>
    </article>
    <article>
    <section class="comments-container">
        <form id="commentForm" method="post">
            <input type="hidden" id="boardId" th:value="${board.id}" />
            <input type="hidden" id="currentUserId" th:value="${currentLoginUser.idx}" />
            <input type="text" id="commentInput" placeholder="댓글을 입력하세요." />
        </form>
        <section class="comments-display"></section>
        <div id="pagination"></div>
    </section>
    </article>
</main>

<script src="../../static/js/board/board.js" th:src="@{/js/board/board.js}"></script>
<script src="../../static/js/board/board.js" th:src="@{/js/board/commentReport.js}"></script>
<script src="../../static/js/board/like.js" th:src="@{/js/board/like.js}"></script>
<script src="../../static/js/main/search.js" th:src="@{/js/main/search.js}"></script>
<script src="../../static/js/board/bookMark.js" th:src="@{/js/board/bookMark.js}"></script>
</body>
</html>