<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="../../static/css/user/join.css" th:href="@{/css/user/join.css}"/>
</head>
<body>
<div class="form-container">
    <h1 class="center-layout">Cook Log</h1>
    <form action="/joinProc" method="post" id="joinForm">

        <div class="center-layout">
            <input type="text" name="nickname" id="nickname" placeholder="id" class="input-container"/>
        </div>

        <div class="center-layout">
            <input type="email" name="email" id="email" placeholder="Email" class="input-container" />
        </div>

        <div class="center-layout">
            <input type="password" name="password" id="password" placeholder="Password" class="input-container"/>
        </div>

        <div class="height-size-box"></div>
        <hr class="line-layout">
        <div class="height-size-box"></div>

        <div class="center-layout">
            <div class="block-layout">
                <button type="button" id="signup-button-container" onclick="formSubmit();">
                    <p id="signup-button-text">
                        회원가입
                    </p>
                </button>
            </div>
        </div>
    </form>
</div>
</body>
<script>
    function formSubmit() {
        const formData = new FormData(document.querySelector('#joinForm'));
        fetch('/joinProc', { method: 'POST', body: formData
        }).then(response => {
            if (!response.ok) {
                return response.text().then(msg => {
                    if (response.status === 400) {
                        alert(msg);
                        throw new Error(msg);
                    }
                });
            } else {
                location.href="/login";
            }
        }).catch(error => {
            console.error(error);
        });
    }
</script>
</html>
