<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="../../static/css/user/login.css" th:href="@{/css/user/login.css}"/>
</head>
<body>
<div class="form-container">
    <h1 class="center-layout">Cook Log</h1>
    <form action="/loginProc" method="post" name="loginForm">

        <div class="center-layout">
            <input type="email" id="email" name="email" class="input-container" placeholder="email"/>
        </div>

        <div class="height-size-box"></div>
        <div class="center-layout">
            <input type="password" id="password" name="password" class="input-container" placeholder="PassWord"/>
        </div>

        <div class="height-size-box"></div>
        <hr class="line-layout">
        <div class="height-size-box"></div>
        <div class="center-layout">
            <div class="block-layout">

                <button type="submit" id="login-button-container" value="login"/>
                <p id="login-button-text">
                    로그인
                </p>
                </button>
                <p class="center-layout">or 계정이 없으신가요?</p>

                <button type="button"
                        id="signup-button-container"
                        onclick="location.href='/join'">
                    <h3 id="signup-button-text">가입하기</h3>
                </button>
            </div>
        </div>
    </form>
</div>
</body>
<script>
    /*<![CDATA[*/
        var isError = [[${error}]];
        var errorMsg = '[[${exception}]]';

        if (isError) {
            alert(errorMsg);
            history.back();
        }
    /*]]>*/
</script>
</html>