ul, ol{
    padding: 0;
    list-style: none;
}
.follower-info{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #c4c4c4;
}
.user-name{
    font-size: 20px;
    font-weight: 900;
    flex-grow: 1;
}

.user-name a {
    color: black;
    text-decoration: none;
}

.follow-button, .un-follow-button, .delete-follower-button{
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #FFAA06;
    border: 1px solid rgba(0, 0, 0, 0.26);
    border-radius: 10px;
    padding: 10px 30px;
}
.un-follow-button, .delete-follower-button{
    color: black;
    padding: 10px 21px;
    background-color: white;
    border: 1px solid black;
}

/*페이지 표시*/
.page{
    margin:50px 0;
}
.page-list{
    display: flex;
    justify-content: center;
    gap: 50px;

}
.page-link a{
    color: black;
    text-decoration: none;
}


/*페이징 관련 css*/
/* 페이지네이션 컨테이너 */
.page {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
}

/* 페이지 아이템 */
.page-item {
    display: inline;
}

.page-item.disabled a {
    color: #ccc;
    pointer-events: none;
}

.page-item.active a {
    font-weight: bold;
    background-color: #FFAA06;
    color: white;
}

/* 페이지 링크 */
.page-link {
    color: #FFAA06;
    text-align: center;
    padding: 8px 16px;
    margin-left: -1px;
    border: 1px solid #ddd;
    text-decoration: none;
}

.page-link:hover {
    background-color: #f8f9fa;
    border-color: #ddd;
}

/* '이전'과 '다음' 버튼의 특별한 스타일링 */
.page-item:first-child .page-link {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.page-item:last-child .page-link {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}