/* 공통 스타일 */
.user-nickname {
    padding: 5px;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    display: inline-block;
    margin: 2px;
}
.user-nickname-and-badge span {
    font-size: medium;
    font-weight: bolder;
}
/* 미식 초보 스타일 */
.user-nickname.user-role-USER {
    background-color: #76CD26; /* 녹색 계열 */
    box-shadow: 0px 0px 10px #76CD26; /* 녹색 발광 효과 */
}
/* 요리 연습생 스타일 */
.user-nickname.user-role-USER2 {
    background-color: #4F97FF; /* 파란색 계열 */
    box-shadow: 0px 0px 10px #4F97FF; /* 파란색 발광 효과 */
}

/* 요리 전문가 스타일 */
.user-nickname.user-role-USER3 {
    background-color: #FFD700; /* 금색 */
    box-shadow: 0px 0px 10px #FFD700; /* 금색 발광 효과 */
}
/* 블랙 리스트 스타일 */
.user-nickname.user-role-BLACK {
    background-color: #000000;
    box-shadow: 0px 0px 10px #000000;
    color: white;
}
/* 관리자 스타일 */
.user-nickname.user-role-ADMIN {
    background-color: #C71585;
    box-shadow: 0px 0px 15px #FF69B4;
    color: #FFFFFF;
    border: 2px solid #FF69B4;
    font-weight: bold;
}
/* 배지 아이콘 스타일 */
.user-badge {
    display: contents;
}

.user-badge.user-role-USER::before {
    content: '★';
    display: inline-block;
    font-size: 1.2em;
    color: #76CD26;
}
.user-badge.user-role-USER2::before {
    content: '★★★';
    display: inline-block;
    font-size: 1.2em;
    color: #4F97FF;
}
.user-badge.user-role-USER3::before {
    content: '★★★★★';
    display: inline-block;
    font-size: 1.2em;
    color: #FFD700;
}
.user-badge.user-role-ADMIN::before {
    content: '★★★★★★★';
    display: inline-block;
    font-size: 1.2em;
    color: #C71585;
}