/* 공통 부분 시작 */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
}
/* 공통 부분 끝 */

/* 헤더 시작 */
header {
    display: flex;
    align-items: center;
    padding: 10px 51px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    gap: 2%;
    justify-content: space-around;
}

.logo-img {
    width: 150px; /* 로고 이미지 크기에 따라 조정 */
    height: auto;
}

.search-input {
    border-radius: 40px;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.2);
    font-size: 14px;
    box-sizing: border-box;
    width: 500px;
    padding: 15px 0px 15px 36px;
}
.search-form {
    display: flex;
    align-items: center;
}

.search-input {
    flex-grow: 1;
    margin-right: -50px;
}

.search-button {
    background: transparent;
    border: none;
    cursor: pointer;
}

.search-button img {
    width: 30px; /* 아이콘 크기 */
}
.profile-picture{
    margin-left: 0px;
    margin-right: 15px;
}
.profile-picture img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 0px;
    margin-right: 0px;
}

.user-info{
    display: flex;
    align-items: center;
}

.username{
    margin-right: 15px; /* 유저 이름과 로그아웃 버튼 사이의 간격 조정 */
}

.header-logout-button{
    background-color: #FFA500;
    border:1px solid #c4c4c4;;
    color: #ffffff;
    padding: 0.4rem 1rem;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.3s ease;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}
/* 헤더 끝 */

/* 네비 시작 */
.menu {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.write-button {
    color: black;
    font-size: 24px;
    text-decoration: none;
    padding: 10px;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 30%;
    cursor: pointer;
}

/* 선택된 아이템 스타일 */
.dropbtn {
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
    cursor: pointer;
}

/* 드롭다운 버튼 디자인 */
.dropbtn:hover, .dropbtn:focus {
    background-color: #ddd;
}

/* 드롭다운 컨텐츠 디자인 */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* 드롭다운 옵션의 호버 상태 */
.dropdown-content option:hover {background-color: #ddd;}

/* 드롭다운이 열려 있을 때 */
.show {display:block;}

/* 네비 끝*/
/* 메인 시작 */
main {
    max-width:65%;
    margin: auto;
}

article {
    margin-bottom: 20px;
}

article header,
article footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: none;
    padding-top: 0px;
}

img {
    width: 100%;
    display: block;
}
.username{
    text-decoration: none;
    color: black;
    font-size: 21px;
    font-weight: 700;
}
.content {
    font-family: 'Open Sans', sans-serif;
    font-size: 21px;
    padding: 10px;
    white-space: pre-wrap;
}

.more-options {
    background: none;
    border: none;
    cursor: pointer;
    position: relative;
    font-size: xx-large;
}

.options-menu {
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    text-align-last: center;
    border-radius: 20px;
    display: none;
    position: absolute;
    width: 110px;
    right: 0;
    margin-right: 14%;
    margin-top: 6%;
    background: #fff;
    border: 1px solid #ccc;
    z-index: 100;
}

.more-options:focus + .options-menu,
.options-menu:hover {
    display: block;
}

.options-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.options-menu li button {
    cursor: pointer;
    padding: 10px;
    border: none;
    background: none;
    text-align: center;
    width: 100%;
}

.options-menu li button:hover {
    background-color: #ffffff;
    border-radius: 20px;
}

.report-button{
    color: red;
    font-weight: 800;
}

.delete-board-button{
    color: red;
}

main hr{
    border:1px solid #c4c4c4;
}
main img{
    width: 100%;
    height: auto;
    display: block;
    max-width: 600px; /* 최대 너비 설정 */
    margin: auto; /* 중앙 정렬 */
}

/*콘텐츠가 없을때 보여주는 스타일*/
.no-content-container{
    margin:50px 0;
}
.no-content-text{
    color: #c4c4c4;
    text-align: center;
}

/*서치 스타일*/
.search-info{
    font-size: 20px;
    display: flex;
    gap: 10px;
    margin: 40px 0;
}
.search-info p{
    margin: 0;
}

/* 부모 컨테이너에 대한 스타일 */
.comment-container {
    display: flex;
    justify-items: start;
    flex-direction: column;
}
.user-comment > div{
    display: flex;
    gap: 20px;
}
.comment-writer-name{
    font-size: 15px;
    font-weight: 700;
}
.comment-content{
    padding: 0;
    margin: 0 0 15px 0;
}
/* 좋아요 부분 스타일 */
.like-section {
    display: flex;
    align-items: center;
}
.comment-created-at{
    color: #c4c4c4;
}
/* 좋아요 아이콘 스타일 */
.like-and-bookmark-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.like-and-bookmark-section button {
    width: 40px;
    height: 40px;
    border: none;
    margin-right: 10px;
}

.like-container {
    display: flex;
    align-items: center;
}

.redheart {
    background: no-repeat center / cover url(../../img/main/redheart.png);
}

.emptyheart {
    background: no-repeat center / cover url(../../img/main/emptyheart.png);
}

.like-count{
    font-size: 18px;
    font-weight: 500;
}

.yellowbookmark {
    background: no-repeat center / cover url(../../img/main/yellowbookmark.png);
}

.emptybookmark {
    background: no-repeat center / cover url(../../img/main/emptybookmark.png);
}

/* 유저명, 댓글, 날짜를 담는 섹션 */
.user-comment {
    flex-grow: 1;
    padding-left: 5px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 댓글 보기 버튼 스타일 */
.view-comments {
    background: none;
    border: none;
    color: blue;
    cursor: pointer;
}
/* 메인 끝 */

/* 푸터 시작 */

/* 푸터 끝 */

/* JS 시작 */

/* JS 끝 */

/*미디어 쿼리 시작*/
/* 미디어 쿼리를 사용하여 화면 너비가 600px 이상일 때의 스타일을 지정 */
@media (min-width: 600px) {
    img {
        width: auto; /* 이미지 원래 크기에 맞게 조정 */
    }
}
/*미디어 쿼리 끝*/